<a href="https://colab.research.google.com/github/Esha-Sherring/Data-Science-summer-analytica/blob/master/KNN_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
url="https://raw.githubusercontent.com/krishnaik06/K-Nearest-Neighour/master/Classified%20Data"
df = pd.read_csv(url)

In [3]:
df.head()

   Unnamed: 0       WTT       PTI  ...       HQE       NXJ  TARGET CLASS
0           0  0.913917  1.162073  ...  0.879422  1.231409             1
1           1  0.635632  1.003722  ...  0.621552  1.492702             0
2           2  0.721360  1.201493  ...  0.957877  1.285597             0
3           3  1.234204  1.386726  ...  1.522692  1.153093             1
4           4  1.279491  0.949750  ...  1.463812  1.419167             1

[5 rows x 12 columns]

In [5]:
X= df.drop(['TARGET CLASS'],axis=1)
X.head()

   Unnamed: 0       WTT       PTI  ...       PJF       HQE       NXJ
0           0  0.913917  1.162073  ...  0.643798  0.879422  1.231409
1           1  0.635632  1.003722  ...  1.013546  0.621552  1.492702
2           2  0.721360  1.201493  ...  1.154483  0.957877  1.285597
3           3  1.234204  1.386726  ...  1.380003  1.522692  1.153093
4           4  1.279491  0.949750  ...  0.646691  1.463812  1.419167

[5 rows x 11 columns]

In [9]:
Y= df.iloc[:,-1]
Y.head()

0    1
1    0
2    0
3    1
4    1
Name: TARGET CLASS, dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [11]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
print(X)

[[-1.73031962 -0.12354188  0.18590747 ... -1.48236813 -0.9497194
  -0.64331425]
 [-1.72685552 -1.08483602 -0.43034845 ... -0.20224031 -1.82805088
   0.63675862]
 [-1.72339142 -0.78870217  0.33931821 ...  0.28570652 -0.68249379
  -0.37784986]
 ...
 [ 1.72339142  0.64177714 -0.51308341 ... -2.36249443 -0.81426092
   0.11159651]
 [ 1.72685552  0.46707241 -0.98278576 ... -0.03677699  0.40602453
  -0.85567   ]
 [ 1.73031962 -0.38765353 -0.59589427 ... -0.56778932  0.3369971
   0.01034996]]

In [15]:
scaled_features= scaler.transform(X)

In [16]:
print(scaled_features)

[[ -1.73631363  -3.70728493  -3.61304111 ...  -8.84349164  -7.17996459
   -9.82760381]
 [ -1.73630163  -7.0279275   -6.01132824 ...  -4.41148569 -10.17165249
   -3.55651438]
 [ -1.73628963  -6.00497875  -3.01601154 ...  -2.72213622  -6.26976649
   -8.52709121]
 ...
 [ -1.72434962  -1.06360823  -6.33330841 ... -11.8906288   -6.718579
   -6.12928867]
 [ -1.72433762  -1.66709883  -8.16125211 ...  -3.83862541  -2.56216046
  -10.86793671]
 [ -1.72432562  -4.61961798  -6.65558399 ...  -5.67707446  -2.79727504
   -6.6252965 ]]

In [20]:
scaled_df = pd.DataFrame(scaled_features,columns=df.columns[:-1])
scaled_df.head()

   Unnamed: 0       WTT       PTI  ...       PJF        HQE        NXJ
0   -1.736314 -3.707285 -3.613041  ... -8.843492  -7.179965  -9.827604
1   -1.736302 -7.027928 -6.011328  ... -4.411486 -10.171652  -3.556514
2   -1.736290 -6.004979 -3.016012  ... -2.722136  -6.269766  -8.527091
3   -1.736278  0.114543 -0.210577  ... -0.018938   0.282958 -11.707221
4   -1.736266  0.654923 -6.828756  ... -8.808813  -0.400144  -5.321377

[5 rows x 11 columns]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled_df,Y,
                                                    test_size=0.30)

In [24]:
print(y_train)

896    1
77     1
884    1
176    1
558    1
      ..
139    0
458    1
553    1
521    0
572    0
Name: TARGET CLASS, Length: 700, dtype: int64

In [38]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')
pred = knn.predict(X_test)

In [39]:
pred

array([0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1])

In [40]:
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import cross_val_score

In [41]:
print(confusion_matrix(y_test,pred))

[[152  11]
 [  7 130]]

In [42]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.94